DB_USERNAME=changeme
DB_PASSWORD=changeme

# --- Optional environment variables ---

AUTH_PORT=8081                              # Defaults to 8081
CORE_PORT=8082                              # Defaults to 8082
ALLOW_REGISTRATION=false                    # Defaults to false
TIMEZONE=Europe/Brussels                    # Defaults to UTC
HEALTH_SHOW_DETAILS=always                  # Defaults to never
LOGGING_STRUCTURED_FORMAT_CONSOLE=logstash  # Defaults to none
