DB_USERNAME=changeme
DB_PASSWORD=changeme

# --- Optional environment variables ---

GATEWAY_PORT=80                             # Defaults to 80
ALLOW_REGISTRATION=false                    # Defaults to false
TIMEZONE=Europe/Brussels                    # Defaults to UTC
HEALTH_SHOW_DETAILS=always                  # Defaults to never
LOGGING_STRUCTURED_FORMAT_CONSOLE=logstash  # Defaults to none
